@model PagedList.IPagedList<bi130168d.Models.Auction>
@using PagedList.Mvc;
@{
    ViewBag.Title = "WonAuctions";
}

<h2>Won Auctions</h2>

<div>
    <div class="row">
        @Html.DisplayForModel()
    </div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("WonAuctions", new { page }))
</div>
<br />
<p>
    @Html.ActionLink("Back to Info", "Index", "Manage")
</p>
